@import './variables';
@import './mixins';


.setting_group{
    width: 100%;
    margin-top: __vw(34px);
    position: relative;
    height: fit-content;
}

.text_group{
    display: flex;
    justify-content: center;
    align-items: center;
    .center{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        .description{
            font-size: __vw(15px);
            color: var(--gray);
            font-weight: 400;
            text-align: start;
            margin-bottom: __vw(5px);
        }
        .title{
            font-size: __vw(45px);  
            color: var(--theme-4);
            font-weight: 700;
            text-align: start;
            line-height: 98%;
        }
    }
}

.btn_group{
    position: fixed;
    width: 100%;
    bottom: __vw(20px);
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: __vw(25px);
    @media screen and (min-width: 1024px){
        position: initial;
        padding-bottom: __vw(52px);
    }
    span{
        display: inline-block;
        width: __vw(150px);
        height: __vw(50px);
        border-radius: __vw(25px);
        background-color: var(--theme-2);
        color: white;
        text-shadow: __vw(2px) __vw(2px) __vw(3px) rgba(255,255,255,0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        &:not(:last-of-type){
            margin-bottom: __vw(6px);
        }
    }
    .btn_start{
        cursor: pointer;
    }
    .btn_tutorial{
        cursor: pointer;
    }
}

.img_box{
    margin-top: __vw(12px);
    width: 100%;
    height: __vw(350px);
    img{
        display: block;
        width: 100%;
        height: 100%;
    }
}

.dim_bg{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0,0,0, 0.5);
    display: flex;
    justify-content: center;
}

.popup{
    max-width: $max-width;
    margin: 0 auto;
    background: #fff;
    margin-top: __vw(30px);
    height: 100%;
    width: 100%;
    border-top-left-radius: __vw(25px);
    border-top-right-radius: __vw(25px);
    .header{
        padding: __vw(25px) 0 __vw(10px);
        border-bottom: 1px solid rgba(0,0,0, 0.5);
        .title{
            text-align: center;
            font-weight: 500;
            font-size: __vw(25px);
        }
    }
    .body{
        width: 100%;
        height: fit-content;
        padding: __vw(20px);
        .record{
            font-size: __vw(25px);
            b{
                font-weight: 500;
            }
        }
        .exit{
            position: fixed;
            right: __vw(20px);
            bottom: __vw(52px);
            background: #666;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            color: #fff;
            font-size: __vw(20px);
            width: __vw(50px);
            height: __vw(50px);
            border-radius: 50%;
        }
    }
}
