@import './variables';
@import './mixins';

.setting_group{
    display: flex;
    justify-content: flex-end;
}

.img_box{
    width: 100%;
    height: __vw(350);
}

.text_group{
    display: flex;
    justify-content: center;
    align-items: center;
    .center{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        .description{
            font-size: __vw(15);
            color: var(--gray);
            font-weight: 400;
            text-align: start;
            margin-bottom: __vw(5);
        }
        .title{
            font-size: __vw(45);  
            color: var(--theme-4);
            font-weight: 800;
            text-align: start;
            line-height: 98%;
        }
    }
}

.btn_group{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: __vw(10);
    font-size: __vw(25);
    padding: __vw(50) 0 __vw(80);
    span{
        display: inline-block;
        width: __vw(150);
        height: __vw(50);
        border-radius: __vw(25);
        background-color: var(--theme-2);
        color: white;
        text-shadow: __vw(2) __vw(2) __vw(3) rgba(255,255,255,0.1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn_start{
        cursor: pointer;
    }
    .btn_tutorial{
        cursor: pointer;
    }
}