@import './variables';
@import './mixins';

.section{
    width: 100%;
    margin: 0 auto;
    max-width: $max-width;
    // height: var(--landing-100vh, 100vh);
    padding: 0 __vw(20px);
    background: #fff;
}

#intro{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    .intro_box{
        width: __vw(80px);
        height: __vw(80px);
        display: flex;border-radius: 50%;
        justify-content: center;
        align-items: center;
        .intro_border{
            width: 100%;
            height: 100%;
            background: #abbd81;
            padding: __vw(8px);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .intro_inner{
                background: #e15b64;
                width: 100%;
                height: 100%;
                padding: __vw(10px);
                border-radius: 50%;
            }
        }
    }
}


@keyframes animation {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.intro_inner div {
  position: absolute;
  animation: animation linear 1s infinite;
  background: #333;
  width: __vw(6px);
  height: __vw(12px);
  left: __vw(29px);
  top: __vw(6px);
  border-radius: __vw(3px) / __vw(6px);
  transform-origin: __vw(3px) __vw(26px);
}.intro_inner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #333;
}.intro_inner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #333;
}.intro_inner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #333;
}.intro_inner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #333;
}.intro_inner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #333;
}.intro_inner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #333;
}.intro_inner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #333;
}.intro_inner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #333;
}.intro_inner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #333;
}.intro_inner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #333;
}.intro_inner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #333;
}.intro_inner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #333;
}
.loadingio-spinner-spinner-atfg7co29or {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.intro_inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.intro_inner div { box-sizing: content-box; }
/* generated by https://loading.io/ */